@media (max-width:610px) {
    h1 {
        font-size: 9vh;
        text-align: center;
    }

    p {
        font-size: 4vh;
    }
}

@media (max-width:444px) {
    body {
        padding: 0 10px;
    }

    p {
        text-align: center;
        width: 75%;
    }

    p span {
        font-size: 6vh;
    }

    .board {
        max-width: 50vh;
        max-height: 50vh;
    }

    .cell {
        font-size: 13vh;
    }
}